<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/b/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>❤ facebook badges ❤</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

  <!-- CSS: implied media="all" -->
  <link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="/static/css/960.css">
	<link rel="stylesheet" href="/static/css/tipTip.css">
  <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

  <!-- All JavaScript at the bottom, except for Modernizr and Respond.
       Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
       For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->
  <script src="/static/js/libs/modernizr-2.0.min.js"></script>
  <script src="/static/js/libs/respond.min.js"></script>
</head>

<body>

  <div id="container">
    <header>
			
			<div class="container_12">
				<div class="grid_6">
						<img src="/static/img/fb_small.png" alt="❤ facebook badges ❤" title="❤ facebook badges ❤"  />
				</div>
				<div class="grid_6">
					<form action="/fb" method="post" accept-charset="utf-8" style="float:right;">
						<input type="text" name="flickrid" value=""  style=" padding:5px 10px; -webkit-border-radius:15px; margin-top:10px;">
					</form>
				</div>
			<div>
    </header>
    <div id="main" role="main">
			<!-- begin profile -->
			<div class="container_12 profile">
				<div class="grid_1">
					<img src="{{buddyurl}}" height="80px"/>
				</div>
				<div class="grid_3">
					<div class="username">
						{{username}}
					</div>
				</div>
				<div class="grid_3">
					<div class="basic-details">
						<p><img src="/static/img/profile.png" /> {{guy_name}}</p>
						<p><img src="/static/img/loc_16.png" /> currently in {{location}}</p>
					</div>
				</div>
				<div class="grid_5">
					<div class="flickr-links">
						<ul>
							<li><a href="http://www.flickr.com/photos/{{username}}/sets/" class="button">sets</a></li>
							<li><a href="http://www.flickr.com/photos/{{username}}/galleries/" class="button">galleries</a></li>
							<li><a href="http://www.flickr.com/photos/{{username}}/tags/" class="button">tags</a></li>
							<li><a href="http://www.flickr.com/photos/{{username}}/people/" class="button">people</a></li>
							<li><a href="http://www.flickr.com/photos/{{username}}/archives/" class="button">archives</a></li>
							<li><a href="http://www.flickr.com/photos/{{username}}/favorites/" class="button">favorites</a></li>
							<li><a href="http://www.flickr.com/people/{{username}}/" class="button">profile</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- end of profile -->
			
			<!-- begin badge container -->
			<div class="container_12" style="background:white;">
					<div class="grid_4">
						
						<div class="badge enabled">
							<div class="badgepic traveler">
								<div class="rule">
									foo bar bap
								</div>
							</div>
						</div>
						<div class="desc">
							<a href="#" class="button">Traveller</a>
						</div>
						
						<div class="badge enabled">
							<div class="badgepic globetrot">
								<div class="rule">
									foo bar bap
								</div>
							</div>
						</div>
						<div class="desc">
							<a href="#" class="button enabled">Globe Trotter</a>
						</div>
						
						<div class="badge enabled">
							<div class="badgepic organizer">
								<div class="rule">
									foo bar bap
								</div>
							</div>
						</div>
						<div class="desc">
							<a href="#" class="button enabled">Organizer</a>
						</div>
					</div>
					
					<div class="grid_4">
						
						<div class="badge {% if is_pro %}enabled{% endif %}">
							<div class="badgepic pro">
								<div class="rule">
									Is in {% if not is_pro %}not{% endif %} love with flickr
								</div>
							</div>
						</div>
						<div class="desc">
							<a href="#" class="button {% if not is_pro %}disabled{% endif %}">Pro</a>
						</div>
																		
						<div class="badge">
						</div>
						<div class="desc">
							<a href="#" class="button disabled">Traveller</a>
						</div>
					</div>
					
					<div class="grid_4">
						<div class="badge {% if early %}enabled{% endif %}">
							<div class="badgepic early">
								<div class="rule">
									Is an early adopter of flickr
								</div>
							</div>
						</div>
						<div class="desc">
							<a href="#" class="button {% if not early %}disabled{% endif %}">Early Adopter</a>
						</div>

						
						<div class="badge">
						</div>
						<div class="desc">
							<a href="#" class="button disabled">Traveller</a>
						</div>
						
						<div class="badge">
						</div>
						<div class="desc">
							<a href="#" class="button disabled">Traveller</a>
						</div>
					</div>
				</div>
				
			</div>
			<!-- end badge container -->
    </div>
    <footer>

    </footer>
  </div> <!--! end of #container -->


  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/static/js/libs/jquery-1.6.2.min.js"><\/script>')</script>


  <!-- scripts concatenated and minified via ant build script-->
	
  <script src="/static/js/plugins.js"></script>
  <script src="/static/js/script.js"></script>
  <!-- end scripts-->


  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
</body>
</html>
